<div class="container mt-5">

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <h1>Metamorfose</h1>
          <form [formGroup]="formLogin" #formDir="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="email" class="sr-only">Digite seu e-mail</label>
              <input type="email" name="email" formControlName="email" class="form-control" id="email"
                placeholder="Digite seu e-mail" maxlength="60">
            </div>
            <div class="form-group">
              <label for="senha" class="sr-only">Digite sua Senha</label>
              <input type="password" name="senha" formControlName="senha" class="form-control" id="senha"
                placeholder="Digite sua Senha" maxlength="25">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Entrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>